.ventas-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.ventas-table th {
  background: #1e293b;
  color: white;
  padding: 12px;
  text-align: left;
}

.ventas-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.ventas-table tr:hover {
  background: #f1f5f9;
}